@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-community-builder: #ff6b6b;
    --color-collab-manager: #06f0ff;
    --color-content-creator: #1bcea3;
    --color-space-host: #3792ff;
    --color-alpha-caller: #bd8bff;
    --color-full-stack: #ffa500;
    --color-evm-dev: #cece5d;
    --color-sol-dev: #deaec2;
    --color-video-editing: #6a4c93;
    --color-graphic-design: #ffca3a;
    --color-artist: #8ac926;
    --color-ux-ui-designer: #f4a261;
    --color-writer: #800020;
  }

  .dark {
    --color-community-builder: #ff6b6b;
    --color-collab-manager: #06f0ff;
    --color-content-creator: #1bcea3;
    --color-space-host: #3792ff;
    --color-alpha-caller: #bd8bff;
    --color-full-stack: #ffa500;
    --color-evm-dev: #cece5d;
    --color-sol-dev: #deaec2;
    --color-video-editing: #6a4c93;
    --color-graphic-design: #ffca3a;
    --color-artist: #8ac926;
    --color-ux-ui-designer: #f4a261;
    --color-writer: #800020;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-shadow {
  background-color: black; /* Ensure the button background is black */
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75); /* White shadow all around */
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
