@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-community-builder: #ff6b6b;
    --color-collab-manager: #06f0ff;
    --color-content-creator: #1bcea3;
    --color-space-host: #3792ff;
    --color-alpha-caller: #bd8bff;
    --color-full-stack: #ffa500;
    --color-evm-dev: #ffff75;
    --color-sol-dev: #ffc9df;
  }

  .dark {
    --color-community-builder: #ff6b6b;
    --color-collab-manager: #06f0ff;
    --color-content-creator: #1bcea3;
    --color-space-host: #3792ff;
    --color-alpha-caller: #bd8bff;
    --color-full-stack: #ffa500;
    --color-evm-dev: #ffff75;
    --color-sol-dev: #ffc9df;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-shadow {
  background-color: black; /* Ensure the button background is black */
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75); /* White shadow all around */
}
